<app-header></app-header>
<div class="row container mt-2">

	<div class="col">     
		<h1>Login as Interviewer</h1>
		<br/>
		<a href="/interviewer/login">
			<button class="btn btn-primary">Login as Interviewer</button>
		</a>
	</div>

	<div class="col">
		<h1>Register/Login as Candidate</h1>
		<br/> 
		<a href="/candidate/register">
			<button class="btn btn-danger">Candidate Registeration</button>
		</a> <a href="/candidate/login">
			<button class="btn btn-primary">Login as Candidate</button>
		</a>

  	</div>
</div>
