<p>upload works!</p>
<app-userpage></app-userpage>
<div class="container">
    <div class="child">
        <form  (ngSubmit)="apply()">
   
        <div class="form-group">
            <label for="resume">Write about yourself!!</label>
            <br>
            <textarea
            name="jobDescription"
            [(ngModel)]="jobprocess.resume"
          ></textarea>
            </div>
        <button type="submit" class="btn btn-info">apply</button>
    </form>
 <!--   {{jobprocess|json}}-->
</div>
</div>  


