<style>
  .center {
    text-align: center;
  }

  table {
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .error {
    color: red;
    font-weight: bold;
  }

  .idash ul li {
    display: inline-block;
    margin-right: 50px;
    font-size: 20px;
  }

  #jobListTable tr td {
    padding: 7px;
    text-align: center;
  }
  #canjobListTable {
    font-size: 15px;
  }

  .tble tr td {
    padding: 7px;
    text-align: center;
  }
  .message {
    text-align: center;
  }
</style>

<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/" style="color: white">V Recruit</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>

        <li class="nav-item" *ngIf="isInterviewerLoggedIn">
          <a class="nav-link" routerLink="/interviewer">Dashboard</a>
        </li>

        <li class="nav-item" *ngIf="isInterviewerLoggedIn">
          <a class="nav-link" routerLink="/" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<br />
