<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>V</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/viewprofile">view profile</a>
        <a mat-list-item routerLink="/editprofile">edit profile</a>
        <a mat-list-item routerLink="/joblist">Job List</a>
        <a mat-list-item routerLink="/status">Job Status</a>
        <a mat-list-item routerLink="/">Logout</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
     
      <!-- Add Content Here -->
    </mat-sidenav-content>
  </mat-sidenav-container>
  